.photoDesc {
    display: flex;
    justify-content: center;
    grid-gap:35px;
}
.description{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 35px;
}

.white {
    color:rgb(255, 255, 255);
}

@media (min-width: 768px) and ( max-width: 1024px){
    .presentPhoto{
        width: 500px;
    }
    .description{
        margin-right: 20px;
        width: 300px;
    }
    .photoDesc {
        justify-content: left;
        grid-gap: 100px
    }
    
    

}

@media (min-width: 425px) and ( max-width: 768px){
    .presentPhoto{
        width: 500px;
    }
}

@media (min-width: 375px) and ( max-width: 425px){
    .presentPhoto{
        width: 100%;
    }
    .photoDesc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-gap: 0px;
    }
    .description{
        margin-right: 0px;
    }
}

@media (max-width: 320px){
    .presentPhoto{
        width: 100%;
    }
    .photoDesc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-gap: 0px;
    }
    .description{
        margin-right: 0px;
    }
}